/*-----buttons----*/
.btn-reset {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;padding: 0;
	border: 0;outline: none;
	background: none;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 20px 30px;
	min-height: 80px;
	text-align: center;
	color: var(--white-color);
	font-size: 28px;
	line-height: 1.2;
	font-weight: 300;
	letter-spacing: -1.12px;
	border: 0;outline: none;
	border-radius: 0;
	background-color: var(--global-color);
	transition: all .3s ease;
	cursor: pointer;
	&:hover {
		opacity: 0.85;
	}
	&.disabled {
		color: rgba(36, 37, 44, 0.30);
		background: rgba(36, 37, 44, 0.05);
		cursor: auto;
	}
}

.btn-withicon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 20px 30px 20px 110px;
	min-height: 80px;
	text-align: center;
	color: var(--global-color);
	font-size: 28px;
	line-height: 1.2;
	font-weight: 300;
	letter-spacing: -1.12px;
	border: 2px solid var(--global-color);
	outline: none;
	border-radius: 0;
	background-color: transparent;
	transition: all .3s ease;
	&::before {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		width: 80px;
		height: calc(100% + 4px);
		border-right: 2px solid var(--global-color);
		background-color: transparent;
		transition: all .3s ease;
	}
	svg {
		position: absolute;
		left: 27px;
		top: 50%;
		transform: translateY(-50%);
		transition: all .3s ease;
	}
	&:hover {
		color: var(--white-color);
		border-color: transparent;
		background-color: var(--global-color);
		&::before {
			border-color: transparent;
			background-color: var(--font-color);
		}
	}
	&.disabled {
		opacity: 0.4;
		cursor: auto;
	}
}