/*------ modal ------*/
.fancybox-slide {
	padding: 40px !important;
}
.modal {
	width: 1000px;
	max-width: 100%;
	padding: 26px 40px 40px 40px;
	background: #fff;
	&-content {
		padding-right: 30px;
		padding-bottom: 0;
		.scroll-container {
			height: 650px;
		}
	}
	&-order {
		.modal-heading {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			margin-bottom: 30px;
			.modal-title {
				width: calc(50% - 20px);
				margin-right: 40px;
			}
			.order-details {
				width: calc(50% - 20px - 100px);
			}
		}
		.form {
			.form-group {
				&:nth-child(1) {
					width: calc(50% - 20px);
					margin-right: 40px;
				}
				&:nth-child(2) {
					width: calc(50% - 20px);
				}
			}
			.btn {
				width: 100%;
				margin-top: 40px;
			}
		}
		&-yes {
			.modal-heading {
				margin-bottom: 280px;
				.title-1 {
					margin-bottom: 50px;
				}
				.title-2 {
					max-width: 570px;
				}
			}
			.modal-bottom {
				.title-2 {
					margin: 0;
					span {
						color: var(--global-color);
					}
				}
			}
		}
	}
	&-close {
		position: absolute;
		top: 0;right: 0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 20px 30px;
		min-height: 80px;
		text-align: center;
		color: var(--global-color);
		font-size: 28px;
		line-height: 1.2;
		font-weight: 300;
		letter-spacing: -1.12px;
		border: 1px solid var(--global-color);
		outline: none;
		border-radius: 0;
		background-color: #fff;
		transition: all .3s ease;
		z-index: 500;
	}
	&-heading {
		margin-bottom: 20px;
	}
	&-title {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 40px;
		font-style: normal;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: -1.5px;
		color: var(--font-color);
	}
}
.order-details {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	&-name {
		margin: 0 10px 0 0;
		font-size: 22px;
		font-style: normal;
		font-weight: 100;
		line-height: 1.2;
		letter-spacing: -0.88px;
		color: var(--font-color);
	}
	&-charact {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		span {
			position: relative;
			font-size: 22px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%;
			letter-spacing: -0.88px;
			color: var(--global-color);
			&:not(:last-child) {
				padding-right: 14px;
				margin-right: 10px;
				&:after {
					content: '';
					position: absolute;
					margin-top: -1px;
					top: 50%;
					right: 0;
					width: 3px;
					height: 3px;
					border-radius: 5px;
					background: var(--global-color);
				}
			}
		}
	}
}