/*-----title----*/
.title-1 {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 100px;
	font-style: normal;
	font-weight: 300;
	line-height: .9;
	letter-spacing: -6px;
	color: var(--font-color);
	span {
		color: var(--global-color);
	}
}
.title-2 {
	margin-top: 0;
	margin-bottom: 16px;
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -1.5px;
	color: var(--font-color);
}
.text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 28px;
	font-style: normal;
	font-weight: 250;
	line-height: 1.2;
	letter-spacing: -1.1px;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}