/*-----title----*/
.title-1 {
	margin-top: 0;
	margin-bottom: 40px;
	font-size: 100px;
	font-style: normal;
	font-weight: 300;
	line-height: .9;
	letter-spacing: -6px;
	color: var(--font-color);
	span {
		color: var(--global-color);
	}
}
.title-2 {
	margin-top: 0;
	margin-bottom: 16px;
	font-size: 40px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -1.5px;
	color: var(--font-color);
}
.text {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 28px;
	font-style: normal;
	font-weight: 100;
	line-height: 1.2;
	letter-spacing: -1.1px;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

@include desktop {
	.title-1 {
		font-size: 80px;
		letter-spacing: -4px;
	}
	.title-2 {
		font-size: 32px;
		letter-spacing: -1px;
	}
	.text {
		font-size: 22px;
		letter-spacing: -0.9px;
	}
}

@include tablet {
	.title-1 {
		font-size: 54px;
		letter-spacing: -3px;
	}
}