.contacts {
  .title-1 {
    margin-bottom: 50px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 50%;
      width: 2px;
      height: calc(100% + 20px);
      background: var(--global-color);
    }
  }
  &__left {
    width: calc(50% - 40px);
    margin-right: 80px;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(50% - 40px);
    .btn-withicon {
      margin-top: 8px;
      margin-bottom: 8px;
      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}