/***** FONTS *****/
@import "fonts";

/***** GENERAL ELEMENTS *****/
:root {
  --content-width: 1600px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #ffffff;
  --black-color: #131313;
  --font-color: #24252c;

  --global-color: #00b67a;
  --red-color: #ff5775;
}

/***** Mixins *****/
@mixin desktop {
  @media screen and (max-width: 1190px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}


/***** BLOCKS GLOBAL *****/
@import "general";
@import "blocks/buttons";
@import "blocks/title";


/***** COMPONENTS GLOBAL *****/
// @import "blocks/header";
// @import "blocks/footer";
// @import "blocks/breadcrumbs";
// @import "blocks/pagination";
// @import "blocks/tags";
// @import "blocks/scroll-container";
// @import "blocks/accordion";
// @import "blocks/tabs";
// @import "blocks/tooltip";
// @import "blocks/hover-dpd";
// @import "blocks/click-dpd";
// @import "blocks/plyr";
// @import "blocks/article";
// @import "blocks/sliders";
@import "blocks/form";
// @import "blocks/modal";

/***** SECTIONS GLOBAL (Widgets) *****/
@import "widgets/hero.scss";
@import "widgets/benefits.scss";
@import "widgets/services.scss";
@import "widgets/faq.scss";
@import "widgets/contacts.scss";